<%- include("partials/header.ejs")%>
<% if (alerts && alerts.length > 0) { %>
  <div class="alert alert-danger">
    <% alerts.forEach(function(alert) { %>
      <p><%= alert %></p>
    <% }); %>
  </div>
<% } %>
  <% if(!main) {%>
    <a href="/files">Catalogo</a>
    <% } %>
    <% if(user.role=="admin") {%>
      <a href="/admin/users">Usuarios</a>
      <a href="/admin/files">Archivos</a>
  <% } %>
  <a href="/admin/add-user">Agregar usuario</a>
  <table>
    <thead>
      <tr>
        <thusername</th>
        <th>Nombre</th>
        <th>Matricula</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% usersData.forEach((user) => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.matricula %></td>
          <td>
            <form action="/users/delete/<%=user.id %>" method="POST">
              <button type="submit">Eliminar</button>
            </form>
          </td>
          <td>
            <form action="/admin/edit-user/<%=user.id %>" method="POST">
              <button type="submit">Editar</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<%- include("partials/footer.ejs")%>

