<%- include("partials/header.ejs")%>
<%- include("partials/alerts.ejs")%> 
<h3>Biblioteca digital</h3>
<p>Bienvenido <%= user.name %></p>
<a href="/users/profile">Perfil</a>
<form action="/login/logout" method="POST">
  <button type="submit" class="btn btn-primary">Cerrar sesión</button>
</form>
<form action="/files/search" method="POST">
  <input type="text" id="tittle" name="tittle" placeholder="Buscar" required/>
  <button type="submit">Buscar</button>
</form>
<% if(!main) {%>
<a href="/files">Catalogo</a>
<% } %> <% if(user.role=="admin") { %>
<a href="/admin/users">Usuarios</a>
<a href="/admin/files">Archivos</a>
<% } %>
<table>
  <thead>
    <tr>
      <th>Archivo</th>
    </tr>
  </thead>
  <tbody>
    <% filesData.forEach((file) => { %>
    <tr>
      <td>
        <a href="<%= file.url %>" target="_blank"><%= file.tittle %>.pdf</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include("partials/footer.ejs")%>
