<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Matricula</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((user) => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.matricula %></td>
          <td><%= user.role %></td>
          <td>
            <a href="/users/edit/<%= user._id %>">Edit</a>
            <a href="/users/delete/<%= user._id %>">Delete</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>